<div class="position-fixed top right" style="width: 600px;">
    <div class="row">
        <div class="col">
            <div class="card h-screen">
                <div class="card-body h-full d-flex justify-content-center align-items-center">
                    <form #userForm="ngForm" class="form-container" (ngSubmit)="onSubmit(userForm)">
                        <div class="form-group">
                            <input type="text" [(ngModel)]="input.username" name="username" placeholder="username" class="form-control" #username autofocus required>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-9">
                                    <input type="text" [(ngModel)]="input.password" name="password" placeholder="Password" class="form-control" #password readonly>
                                </div>
                                <div class="col-3">
                                    <button type="button" class="m-0 btn btn-primary btn-inverted btn-borderless" (click)="onGenerate()">GENERATE</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="input.name" name="name" placeholder="name" class="form-control" #name required>
                        </div>
                        <div class="form-group">
                            <input type="text" [(ngModel)]="input.surname" name="surname" placeholder="surname" class="form-control" #surname required>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="E-mail" [(ngModel)]="input.email" name="email" #email required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Phone" [(ngModel)]="input.phone" name="phone" #phone required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Addess" [(ngModel)]="input.address" name="address" #address required>
                        </div>
                        <select name="role" class="form-control" [(ngModel)]="input.role" #role required>
                            <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                        </select>

                        <div class="my-4">
                            <button type="submit" class="btn btn-primary w-full">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>